body {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
}

.gradient {
    border-radius: 0 0 12px 12px;
    background: var(--gradient-supersoft, linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%));
}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #E6E6F0;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 0;
}

.block {
    max-width: 1600px;
    margin: 0 auto;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

header {
    position: absolute;
    width: 100%;
    padding: 0 160px;
    z-index: 10;
}

.header_menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.header_menu_block {
    max-width: 478px;
    width: 100%;
}

.header_menu_info, .header_nav_list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header_menu_info {
    gap: 6px;
    margin-bottom: 16px;
    height: 24px;
}

.menu_lang, .phone, .header_nav_list, h2 {
    font-weight: 700;
}

.menu_lang {
    display: flex;
    text-align: center;
    max-width: 99px;
    width: 100%;
    font-size: 12px;
    letter-spacing: 1px;
}

.menu_lang li {
    padding: 5px 7px;
}

.menu_lang li:hover {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.20);
}

.menu_lang li:active, .menu_lang li.active {
    border-radius: 8px;
    background: #F0145A;
}

.facebook_svg {
    width: 24px;
    height: 24px;
    fill: #FFFFFF;
    transition: fill 0.3s;
}

.facebook_header:hover .facebook_svg {
    fill: #F0145A;
}

.header_nav_list {
    height: 25px;
    gap: 15px;
}

.header_nav_list a:hover {
    color: #F0145A;
}

.header_nav_list a {
    border-bottom: 2px solid transparent;
}

.header_nav_list a:hover {
    border-bottom: 2px solid #F0145A;
    padding-bottom: 3px;
}

h1 {
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    line-height: normal;
}

h2 {
    font-size: 38px;
}

.top_block {
    display: flex;
    flex-direction: column;
    background: url("../images/Symbol.png") center no-repeat;
    background-size: auto 100%;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.top_block button {
    background: transparent;
    border: none;
    position: absolute;
    bottom: 30px;
}

.scroll_svg {
    width: 42px;
    height: 42px;
    stroke: #FFFFFF;
    stroke-width: 2;
    fill: none;
    transition: fill 0.3s;
}

.top_block button:hover .scroll_svg {
    stroke: #F0145A;
}

.info {
    display: flex;
    justify-content: space-between;
    max-width: 1360px;
    width: 100%;
    padding: 60px 0;
}

.info_first {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
    position: relative;
}

.nav {
    --bs-nav-link-color: none;
    --bs-nav-link-hover-color: none;
}


.nav-link, .advantages h2 {
    color: #B3B3BA;
}

.nav-link {
    text-align: right;
    font-family: Montserrat;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: transparent;
}

.nav-link:hover {
    color: #F0145A;
}

.nav-link.active{
    background: var(--gradient-text-red-reversed, linear-gradient(90deg, #EF8080 0.84%, #F0145A 99.96%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.info_first::after {
    content: '';
    width: 4px;
    height: 100%;
    background: rgba(255, 255, 255, 0.30);
    position: absolute;
    top: 0;
    right: -64px;
    margin: 0;
}

.info_second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 861px;
    width: 100%;
}

.info_second h3 {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 30px;
}

.info_second p {
    font-size: 19px;
    line-height: 30px;
}

.advantages {
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
}

.link {
    color: #24A3FF;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 2px;
}

.arrow {
    width: 12px;
    height: 13px;
    stroke: #24A3FF;
    stroke-width: 2;
    fill: none;
}

.link:hover {
    color: #F0145A;
}

.link:hover .arrow {
    stroke: #F0145A;
}

.advantages h2, .slider_info h2, .news h2, .services_main_block h2 {
    background: var(--gradient-red-text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.advantages h2 {
    padding-top: 10px;
}

.advantages_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: row;
    gap: 60px;
    padding-top: 60px;
}

.advantages_item {
    display: flex;
    flex-direction: column;
}

.advantages_image, .services_image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 92px;
    height: 92px;
    background-color: #FFFFFF;
    border-radius: 24px;
}

.advantages_item img, .services_image img {
    width: 64px;
    height: 64px;
}

.advantages_item h4 {
    font-size: 22px;
    font-weight: 700;
    padding-top: 30px;
    padding-bottom: 15px;
}

.center_advantage {
    max-width: 300px;
    width: 100%;
}

.advantages_item a {
    color: #24A3FF;
}

.advantages_item a:hover, .news_content a:hover {
    color: #F0145A;
}

.advantages_item p {
    line-height: 26px;
}

.gradient_2_block {
    padding: 0 10px;
}

.gradient_2 {
    width: 100%;
    height: 10px;
    border-radius: 0 0 12px 12px;
    background: #CACADB;
}

.gradient_3_block {
    padding: 0 20px;
}

.gradient_3 {
    width: 100%;
    height: 10px;
    border-radius: 0 0 12px 12px;
    background: #E7E7F2;
}

.slider {
    padding-top: 60px;
    padding-bottom: 30px;
}

.slide {
    display: flex;
    background: #EDEDF7;
    border-radius: 12px;
    height: 298px;
}

.slider_item {
    display: flex;
    background: #EDEDF7;
    border-radius: 12px;
    min-height: 298px;
    width: calc(100% + 2px);
    padding: 0 1px;
}

.slider_image {
    min-width: 400px;
    min-height: 298px;
    align-self: stretch;
    background: url(../images/image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 12px 0 0 12px;
    background-size: cover;
}

.slider_info {
    max-width: 1200px;
    width: 100%;
    padding: 30px;
}

.slider_info h2 {
    padding-top: 5px;
    padding-bottom: 30px;
    line-height: normal;
}

.slick-dots li button:before {
    font-size:0;
}

.slick-dots li {
    width: 16px;
    height: 16px;
    background-color: #24A3FF;
    border-radius: 50%;
    opacity: 0.2;
}

.slick-dots .slick-active {
    opacity: 1;
}

.name {
    color: #B3B3BA;
    font-weight: 700;
    padding-bottom: 6px;
}

.position {
    color: #B3B3BA;
    font-size: 14px;
    line-height: 22px;
}

.partners {
    padding: 60px 100px;
}

.partners_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.partners_info p {
    color: #323264;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.partners_logo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1720px;
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
}

.partners_item {
    display: flex;
    height: 120px;
    justify-content: center;
    align-items: center;
}

.hillel {
    background-color: #1C4280;
}

.wannabiz {
    background-color: #143646;
}

.tapgerine {
    background-color: #F48B30;
}

.threedlook {
    background-color: #9E4DC3;
}

.orangear {
    background-color: #FD9339;
}

.adtelligent {
    background-color: #E2E2E4;
}

.clickky {
    background-color: #C71C36;
}

.ecoleasing {
    background-color: #DCF3F9;
}

.infratek {
    background-color: #EAEAEA;
}

.citypark {
    background-color: #282240;
}

.artprint {
    background-color: #1D4568;
}

.ultimatecard {
    background-color: #000;
}

.news {
    display: flex;
    padding: 30px 160px 0 160px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    background: #F5F5FA;
    box-sizing: border-box;
}

.news h2 {
    padding-top: 10px;
    padding-bottom: 30px;
}

.news_block {
    display: flex;
    gap: 30px;
    width: 100%;
    flex-wrap: wrap;
}

.news_block_item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 8px;
    overflow: hidden;
    background-color: #FFFFFF;
    min-width: 282px;
}

.news_block_item .news-img-1, .news_block_item .news-img-2, .news_block_item .news-img-3 {
    height: 200px;
    width: 100%;
    background-size: cover;
}
.news-img-1 {
    background: url('../images/Equity.jpg') no-repeat center;
}
.news-img-2 {
    background: url('../images/Penalty.jpg') no-repeat center;
}
.news-img-3 {
    background: url('../images/Millennial.jpg') no-repeat center;
}

.text_block {
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    align-self: stretch;
}

.article_title {
    color: #24A3FF;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.news_date {
    color: #B3B3BA;
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.news_text::before {
    content: "";
    height: 4px;
    width: 100%;
    background: #E6E6F0;
    align-self: stretch;
    display: block;
    margin-bottom: 15px;
}

.news_text {
    color: #000;
    font-size: 14px;
    line-height: 22px;
}

footer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 30px 160px;
    background-color: #F5F5FA;
}

footer::before {
    content: "";
    height: 2px;
    width: 100%;
    background: #E6E6F0;
    align-self: stretch;
    margin-bottom: 30px;
}

.footer_content, .news_content {
    width: 100%;
}

.footer_content {
    display: flex;
    justify-content: space-between;
}

.footer_info {
    background-color: #F5F5FA;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 21px;
}

.footer_address_block {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer_address_block a {
    color: #24A3FF;
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.footer_copyright {
    color: #B3B3BA;
}

.footer_socials {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer_facebook_svg {
    width: 38px;
    height: 38px;
    fill: #24A3FF;
    transition: fill 0.3s;
}

.footer_facebook_logo:hover .footer_facebook_svg {
    fill: #F0145A;
}

.footer_address {
    color: #323264;
    font-weight: 400;
    line-height: normal;
}

.footer_phone {
    color: #46466E;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
}

.footer_email {
    color: #24A3FF;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
}

.footer_email:hover {
    color: #F0145A;
}

.logo_block {
    display: flex;
    align-items: flex-start;
    gap: 4px;
}

.logo_block p {
    font-size: 36px;
    font-weight: 400;
}

.services_main_block {
    display: flex;
    padding: 176px 280px 0 280px;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    align-self: stretch;
}

.services_text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.services_main_block p {
    text-align: center;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.services_button {
    color: #FFF;
    text-align: center;
    font-family: Montserrat, serif;
    font-weight: 700;
    font-size: 16px;
    line-height: normal;

    display: flex;
    padding: 18px 30px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;

    border-radius: 12px;
    border: none;
    background-color: #24A3FF;
    box-shadow: 0 0 20px 0 rgba(36, 163, 255, 0.50);
}

.popup {
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    border-radius: 12px;
    background: #F5F5FA;
    box-shadow: 0 15px 80px 0 rgba(40, 40, 86, 0.50);
}

.modal-dialog {
    max-width: 650px;
    top: 20%;
}

.form-label {
    margin: 0;
}

label {
    display: block;
}

.popup_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.popup_close_button:hover {
    background-color: #E6E6F0;
    border-radius: 8px;
}
.popup_close_button {
    background-color: transparent;
    border: 0;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup_svg {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
}

.popup_info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-self: stretch;
}

#form_field_name, #form_field_message, #form_field_phone, #form_field_email {
    display: flex;
    padding: 15px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    color: black;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;

    border-radius: 8px;
    border: 0 solid #FFF;
    background: #FFF;
}

#form_field_message {
    height: 130px;
    resize: none;
}

#form_field_name::placeholder, #form_field_message::placeholder, #form_field_phone::placeholder, #form_field_email::placeholder {
    color: #B3B3BA;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    display: flex;
    align-items: flex-start;
}

/*.mb-3 input[type="text"]::placeholder {
    position: absolute;
    top: 15px;
    pointer-events: none;
    transition: top 0.3s, font-size 0.3s;
}*/

.form_field, .popup_button {
    width: 100%;
}

.popup_data {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-self: stretch;
}

.popup_data p {
    color: #B3B3BA;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    align-self: start;
}

.popup_button:hover {
    background: #0085FF;
}

.popup_button:active {
    background: #006CCF;
}

.services_area::before {
    content: "";
    height: 4px;
    align-self: stretch;
    width: 100%;
    background: rgba(255, 255, 255, 0.50);
    display: block;
}

.services_area {
    display: flex;
    padding: 60px 280px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
}

.services_area h3 {
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
}

.services_list {
    display: flex;
    align-items: flex-start;
    gap: 60px;
    align-self: stretch;
}

.services_list ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    flex: 1 0 0;
}

.services_list li {
    position: relative;
    flex: 1 0 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    display: flex;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.services_list li::before {
    content: "●";
    width: 6px;
    color: #F0145A;
}




@media (max-width: 1440px) {

    .block {
        max-width: 1320px;
    }

    header, .news, footer {
        padding-right: 60px;
        padding-left: 60px;
    }

    .info {
        max-width: 1080px;
    }

    .info_second {
        max-width: 598px;
    }

    .slider_info {
        max-width: 920px;
    }

    .slider_image {
        min-height: 344px;
    }

    .partners {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    .partners_logo {
        border-radius: 0;
    }

    .services_main_block, .services_area {
        padding-left: 180px;
        padding-right: 180px;
    }

    .services_text p {
        max-width: 1080px;
        width: 100%;
        margin: 0;
    }
}

@media (max-width: 1024px) {

    .block, .info {
        max-width: 904px;
    }

    header, .news, footer {
        padding-right: 60px;
        padding-left: 60px;
    }

    .info_second {
        max-width: 405px;
    }

    .slider_info {
        max-width: 920px;
    }

    .slider_image {
        min-height: 344px;
    }

    .partners {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    .partners_logo {
        border-radius: 0;
    }

    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        --bs-gutter-x: 0;
    }

    .services_main_block, .services_area {
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media (max-width: 768px) {

    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        --bs-gutter-x: 0;
    }

    .main_logo {
        position: absolute;
    }

    .logo_block {
        position: absolute;
    }

    .header_menu_info {
        margin-bottom: 121px;
    }

    .header_nav_list {
        display: flex;
        justify-content: flex-start;
    }

    .block {
        max-width: 648px;
    }

    .info {
        flex-direction: column;
        align-items: start;
    }

    .info .info_first {
        padding: 0 60px;
        display: flex;
        width: 100%;
        overflow: auto;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-bottom: 60px;
    }

    .info .info_first::after {
        content: '';
        display: none;
    }
    .info .info_second::before {
        content: '';
        width: calc(100% - 60px * 2);
        padding: 0 60px;
        height: 4px;
        background: rgba(255, 255, 255, 0.30);
        position: relative;
        top: 0;
        right: 0;
        margin: 0 auto 60px auto;
    }

    .info .info_second {
        max-width: 100%;
    }

    .info .info_first::-webkit-scrollbar {
        display: none;
    }

    .info .tab-pane {
        padding: 0 60px;
    }

    .info .nav-link {
        white-space: nowrap;
    }

    .advantages_list {
        grid-template-columns: repeat(2, 1fr);
    }

    .slider_item {
        flex-direction: column;
    }

    .slider_image {
        min-height: 500px;
        border-radius: 12px 12px 0 0;
    }

    .partners {
        padding-top: 60px;
    }

    .partners_logo {
        grid-template-columns: repeat(3, 1fr);
    }

    .news_block_item {
        min-width: 309px;
    }

    .services_main_block {
        padding-top: 280px;
    }

    .footer_copyright {
        position: absolute;
        right: 60px;
    }


}



@media (max-width: 375px) {

    .dot {
        display: none;
    }

    .partners_logo {
        grid-template-columns: repeat(3, 1fr);
    }

    .services_main_block, .services_area, .news, footer {
        padding-left: 30px;
        padding-right: 30px;
    }

    .services_main_block h2, .news h2 {
        font-size: 30px;
    }

    .services_list {
        flex-direction: column;
        gap: 30px;
    }

    .footer_info {
        align-items: center;
    }

    .footer_content {
        gap: 30px;
    }

    .footer_content, .footer_address_block, .footer_socials {
        flex-direction: column;
    }

    .footer_copyright {
        position: static;
        display: flex;
        justify-content: center;
    }


}





